<span>sadsad</span>
<!--div class="flex-1 flex flex-row gap-4 w-full h-full">
    <div class="p-8 bg-slate-200 text-white flex-1 relative border border-red-800">
        <div class="absolute w-full border border-slate-800 left-0 top-[20%]"><a href="#" @click.prevent="selectGroup('group2')">group2</a></div>
        <div class="absolute w-full border border-slate-800 left-0 top-[40%]">group2</div>
    </div>      
    <div class="p-8 bg-slate-300 text-white flex-1 relative border border-red-800">
        <div class="absolute w-full border border-slate-800 left-0 top-[30%]">group4</div>
        <div class="absolute w-full border border-slate-800 left-0 top-[60%]">group5</div>
    </div>      
    <div class="p-8 bg-slate-300 text-white flex-1 relative border border-red-800">
        <div class="absolute w-full border border-slate-800 left-0 top-[20%] h-[25%]">group2</div>
        <div class="absolute w-full border border-slate-800 left-0 top-[60%] h-[35%]">group2</div>
    </div>       
    <div class="p-8 bg-slate-300 text-white flex-1 relative border border-red-800">
        <div class="absolute w-full border border-slate-800 left-0 top-[5%] h-[55%]">group2</div>
        <div class="absolute w-full border border-slate-800 left-0 top-[80%] h-[15%]">group2</div>
    </div>         
    <div class="p-8 bg-slate-300 text-white flex-1 relative border border-red-800">
        <div class="absolute w-full border border-slate-800 left-0 top-[20%] h-[10%]">group2</div>
        <div class="absolute w-full border border-slate-800 left-0 top-[60%] h-[15%]">group2</div>
    </div>   
</div-->