{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>unscripted</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fira+Mono:wght@400;500;700&family=Lexend:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <style>[x-cloak] { display: none !important; }

  </style>
  <script>
    function setVh() {
      document.documentElement.style.setProperty('--vh', `${window.innerHeight * 0.01}px`);
    }
    setVh();
    window.addEventListener('resize', setVh);
  </script>

</head>
<body class="m-0 p-0 font-sans min-h-screen {% block body_class %}{% endblock %}" x-data="{ open: false }" x-init="console.log('Alpine.js initialized, open =', open)">
  {% block body %}
<div class="flex flex-col lg:flex-row min-h-screen lg:h-[100vh]">
  {% include "_aside.html" %}
  
  <main class="flex-1 flex flex-col overflow-hidden">
    <!-- Sticky header -->
    <div class="flex-none sticky top-0 z-10 bg-stone-900 border-b border-stone-800
                flex flex-row items-center justify-between
                py-4 px-8 md:py-8 md:px-14">
      <a href="/" class="text-3xl font-ui font-semibold flex flex-row hover:no-underline">
        <span class="text-amber-200">un</span>
        <span class="font-semibold text-stone-100 mr-0.5">scripted</span>
      </a>
      <div id="hamburger" x-on:click="open = !open" class="md:hidden w-6 h-4 flex flex-col justify-between mt-[2px]
        [&>div]:bg-stone-200 [&>div]:h-0.5 [&>div]:rounded cursor-pointer">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <!-- Content area -->
    <div class="flex-1 flex flex-col lg:flex-row bg-stone-950 relative overflow-hidden">
      <!-- Scrollable content container -->
      <div class="w-full bg-stone-900 overflow-y-auto p-8 md:px-14 lg:max-w-[55%] custom-scrollbar">
        {% block content %}{% endblock %}
      </div>
      {% block other %}{% endblock %}
      {% block overlay %}{% endblock %}
    </div>
  </main>
  <!-- DEBUG: -->

</div>
<script>
  function closeOverlay() {
    const overlay = document.getElementById('overlay');
    if (overlay) {
      overlay.classList.add('hidden');
      overlay.style.display = 'none';
    }
  }

  document.body.addEventListener('htmx:afterSwap', (event) => {
    if (event.detail.target.id === 'overlay-content') {
      const overlay = document.getElementById('overlay');
      if (overlay) {
        overlay.classList.remove('hidden');
        overlay.style.display = 'block';
      }
    }
  });
</script>
{% endblock %}
</body>
</html>