{% extends "base.html" %}

{% block content %}
<h1 class="px-2">List of Files</h1>
<div class="font-sans text-stone-600 px-2 flex flex-row items-center gap-4 text-sm">
  <span class="text-stone-700 iconify block w-5 h-5" data-icon="iconamoon:information-circle-duotone" data-inline="false"></span>
  <span>High level list of files.</span>
</div>
{% for file in files %}
<div class="p-8 md:p-8 md:px-10 border-l-2 border-stone-700 my-8 text-sm bg-neutral-900 text-stone-300 [&>p]:mb-2">
  <h2>
    <a href="{{ file.slug }}" class="hover:underline inline-flex items-center">
      <span>{{ file.name }}</span>
    </a>
  </h2>
  {{ file.summary|safe }}
  <div class="text-xs text-stone-400 flex items-center gap-4 mt-4">
    <div class="flex items-center gap-2">
      <span class="text-stone-500 iconify block w-4 h-4" data-icon="icon-park-twotone:time" data-inline="false"></span>
      <span class="inline-block align-middle mt-[2px]">[##TODO-TIMESPAN]</span>
    </div>
    <div class="flex items-center gap-2">
      <span class="text-stone-500 iconify block w-4 h-4" data-icon="duo-icons:user" data-inline="false"></span>
      <span class="inline-block align-middle mt-[2px]">[##TODO-USER]</span>
    </div>
  </div>
</div>
{% empty %}
<p>Aucun fichier disponible.</p>
{% endfor %}
{% endblock %}