{% extends "base.html" %}

{% block content %}
<h1 class="text-stone-200">Accueil</h1>
<div class="font-sans text-stone-500 flex flex-row items-center gap-3 text-sm">
  <span class="text-stone-600 iconify block w-6 h-6" data-icon="iconamoon:information-circle-fill" data-inline="false"></span>
  <span class="text-base">Welcome.</span>
</div>
        <div class="
        p-6 md:py-6 md:px-8 
        border border-neutral-800 my-8 text-normal text-stone-200 rounded-3xl 
        bg-neutral-700 bg-opacity-70
        [&>p]:mb-2
        -mx-4 md:-mx-8
        ">
            <h2>Vue d'ensemble</h2>
            <div>Outil de documentation et de visualisation chronologique conçu pour organiser, 
                contextualiser et partager des faits complexes survenus dans le cadre d’affaires 
                familiales, immobilières et entrepreneuriales. L’objectif principal est de permettre 
                une compréhension claire et structurée des événements, en particulier dans des 
                contextes où des abus financiers, psychologiques ou juridiques ont pu se produire.</div>
        </div>
        <div class="
        text-sm text-stone-300
        [&>p]:mb-2 mb-8
        ">   
            <h2>Structure</h2>
            <!--ul>
                <li><a href="{% url 'files' %}">Fichiers principaux</a> ("Files") : représentent les principales affaires.</li>
                <li><a href="{% url 'files' %}">Événements</a> : entrées datées (approximatives ou précises) associées à un ou plusieurs dossiers, enrichies d’informations détaillées.</li>
                <li><a href="{% url 'files' %}">Événements</a> : entrées datées (approximatives ou précises) associées à un ou plusieurs dossiers, enrichies d’informations détaillées.</li>
                <li><a href="{% url 'documents' %}">Documents joints</a> : fichiers PDF, scans, etc., liés aux événements ou dossiers.</li>
                <li><a href="{% url 'files' %}">Timeline visuelle</a> : permet de suivre l’évolution des faits dans le temps et de repérer les enchaînements critiques.</li>
            </ul-->

        </div>
        <div class="
        text-sm text-stone-300
        [&>p]:mb-2
        ">       
            <h2>Objectifs</h2>
        <!--ul>
        <li>Transmettre efficacement un dossier à un avocat ou à d’autres professionnels (ex. : thérapeutes, autorités).</li>
        <li>Structurer une mémoire des faits pour des personnes concernées ou victimes.</li>
        <li>Fournir un outil adaptable à d’autres cas de figure, pour des situations similaires.</li>
            </ul-->
        </div>
{% endblock %}